<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BQOLDSYSTEM Automation/extentreports-java-3.1.5/lib/testng-6.9.10.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.Converter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BQOLDSYSTEM Automation"/>
</launchConfiguration>
